#!/bin/bash
# {{ ansible_managed }}
DATE=$(date +%Y%m%d)
BACKUPS_DIR="{{ backup_directory }}"

/usr/bin/mysqldump -u "{{ database_username }}" -p "${ {{-database_password_variable-}} }" "{{ database_name }}" > "$BACKUPS_DIR/{{ database_name }}-mariadb-$DATE.sql"
gzip -9f "$BACKUPS_DIR/{{ database_name }}-mariadb-$DATE.sql"

/usr/bin/find "$BACKUPS_DIR/" -type f -ctime +{{ retention_days }} -exec rm {} \;